*{
    margin: 0px;
    padding: 0px;
}
#container{
    background-color: gray;
    /* box-shadow: 0 0 3px black; */
}
.navbar{
    display: flex;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
}

.logo{
    color: white;
    cursor: pointer;
}
.menu{

}
.items{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.list{
    padding: 20px 20px;
}
.list:hover{
    background-color: white;
    color: gray;
}
.menu-link{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: white;
    padding: 30px;
}
.menu-link:hover{
    color: gray;
}

/* main section style here */
.cover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* background-color: antiquewhite; */
    /* background-image: url(/images/cover_background.jpg); 
    background-color: rgba(0, 0, 0, 0.062);
    background-repeat: no-repeat;
    background-position: center; */

    /* background: linear-gradient(to top, #04b6fd85, #0740fa28), url(/images/cover_background.jpg) no-repeat bottom center; */
    background: url(/images/cover_background.jpg) no-repeat center center;
    
}
.contain{
    padding: 50px;
    padding-left: 150px;
}

.featuretext{
    font-size: 55px;
    color: tomato;
    padding: 10px 0;
}

.fea-img{
    padding: 95px;
}
.feat-img{
    height: 400px;
}
.sub-text-featear{
    color: white;
    padding: 10px 0;
}
.sub-text-featear-black{
    color: black;
    padding: 10px 0;
}
button{
    margin: 20px 0;
    padding: 20px 40px;
    border: 0px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: tomato;
}
.explore-btn:hover{
    color: tomato;
    background-color: white;
}

.title{
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    padding: 20px;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section{
    background-color: gainsboro;
}