*{
    margin: 0px;
    padding: 0px;
}
#container{
    background-color: gray;
    /* box-shadow: 0 0 3px black; */
}
.navbar{
    display: flex;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
}

.logo{
    color: white;
    cursor: pointer;
}
.menu{

}
.items{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.list{
    padding: 20px 20px;
}
.list:hover{
    background-color: white;
    color: gray;
}
.menu-link{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: white;
    padding: 30px;
}
.menu-link:hover{
    color: gray;
}

/* main section style here */
.cover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    background-color: antiquewhite;
}
.contain{
    padding: 50px;
    padding-left: 150px;
}

.featuretext{
    font-size: 95px;
}

.fea-img{
    padding: 95px;
}
.feat-img{
    height: 400px;
}
button{
    margin: 20px 0;
    padding: 20px 40px;
    border: 0px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: tomato;
}
.explore-btn:hover{
    color: tomato;
    background-color: white;
}